.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}
input{
  width: 20%;
}

.commentInput{
  padding: 40px;
  text-align: center;
}
.commentButton{
  padding: 7px;
  width: 90px;
  background-color: #033076;;
  color: white;
}
.commentButton:hover{
  background-color: lightgray;
}
input{
  margin: auto 10px;
  padding: 10px;
   border-radius: 15px;
}
button{
  padding: 10px;
  width: 90px;
  background-color: #033076;;
  color: white;
  border-radius: 15px;
}
button:hover{
  background-color: lightgray;
}
input:hover{
    background-color: lightgray;
}
.surveyHomePage{
  width:240px;
  font-size: 14px;
}
.myButtons{
  display: inline;
  margin-right: 30px;
}
ul{
  list-style: none;
}
li{
  border: 1px solid  #033076;
  margin-right: auto 20px;
  padding: 30px;
  font-size: 20px;
  margin-top: 20px;
}